/* landing wrappers */

.page-wrapper {
    height: min-content;
    width: 100%;
    display: grid;
    background-color: white;
    
    --titleverybig: 3.5rem;
    --subtitleverybig: 2.5rem;

    --titlebig: 3rem;
    --subbig: 2rem;

    --titlemed: 2rem;
    --submed: 1.5rem;

    --titlesmall: 1.5rem;
    --subsmall: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.page-wrapper .title-wrapper {
    position: absolute;
    top: 20vh;
}


.page-wrapper .title {
    font-size: var(--titleverybig);
    margin-bottom: 3vh;
    text-align: center;
}

.page-wrapper .subtitle {
    font-size: var(--subbig);
    margin-bottom: 3vh;
    text-align: center;
}

.page-wrapper .about-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.page-wrapper .about-title * {
    color: black;
    font-size: 2.75rem;
}

/* mission statement */

.page-wrapper .mission-statement {
    padding-top: 30vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.page-wrapper p {
    line-height: 2;;
    text-align: center;
    font-size: var(--submed);
}

@media screen and (max-width: 1000px) {
    .page-wrapper .title {
        font-size: var(--titlemed);
    }
    .page-wrapper .subtitle {
        font-size: var(--submed);
    }

    .page-wrapper p {
        font-size: var(--subsmall);
    }
}

/* board list styles */ 

.board-wrapper {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(white, #fffcaa);
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.member-wrapper {
    display: flex;
    background-image: linear-gradient(#fffcaa, #ffd6aa);
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 20vh;
}

 
@media screen and (max-width: 1000px) {
    .member-wrapper {
        flex-direction: column;
        align-items: center; 
    }
    .board-wrapper {
        flex-direction: column;
        align-items: center; 
    }
} 
