.contact-wrapper {
    height: min-content;
    width: 100%;
    display: grid;
    background-color: white;
    
    --titleverybig: 3.5rem;
    --subtitleverybig: 2.5rem;

    --titlebig: 3rem;
    --subbig: 2rem;

    --titlemed: 2rem;
    --submed: 1.5rem;

    --titlesmall: 1.5rem;
    --subsmall: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.contact-wrapper .title-wrapper {
    position: absolute;
    top: 20vh;
}


.contact-wrapper .title {
    font-size: var(--titleverybig);
    margin-bottom: 3vh;
    text-align: center;
}

.contact-content {
    padding-top: 50vh;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(white, #aaaaff);
}