
.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #313d5a;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
}

.footer-wrapper * {
    background-color: #313d5a;
    color: white;
    font-weight: lighter;
}




.footer-wrapper .footer-description p {
    line-height: 150%;
    text-align: center;
    font-weight: normal;
}

.footer-wrapper .footer-description {
    align-items: center;
}

.footer-wrapper .footer-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33vw;
}

.footer-wrapper .footer-main h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-wrapper .footer-main h2 {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 0.75rem;
}

.footer-wrapper .footer-services {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-wrapper .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33vw;
}

.footer-wrapper .footer-socials * {
    width: 2rem;
    margin: 6px;
}

@media screen and (max-width: 800px) {

    .footer-wrapper .footer-main h1 {
        font-size: 1rem;
    }

}

@media screen and (max-width: 500px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        background-color: #313d5a;
        width: 100vw;
        align-items: center;
        justify-content: center;
    } 

    .footer-wrapper .footer-main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 33vw;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }
    
    .footer-wrapper .footer-description {
        align-items: center;
        padding-top: 5vh;
        font-size: 1.2rem;
    }
}