#body-content {overflow: hidden;}

/* Global styles */



.home-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: white;
}

.home-wrapper * {
    /* font-size: 62.5%; */
    background-color: white;
}

/* Landing styles */

.landing-wrapper {
}

.landing-wrapper .landing-title {
	display: flex;
	flex-direction: row;
    width: 70vw;
}

.landing-wrapper .landing-title h1 {
padding-left: 10rem;
    font-weight: bold;
    font-size: 2rem;
}

.landing-wrapper .subtitle-wrapper {
	display: grid;
	align-items: center;
	column-width: 0;
	justify-content: center;
    margin-top: 1rem;
}

.landing-wrapper .subtitle-wrapper .subtitle-left-line {
	border: black 2px solid;
	position: absolute;
	left: 0%;
    width: 35%;
}

.landing-wrapper .subtitle-wrapper .subtitle-right-line {
	border: black 2px solid;
	position: absolute;
	right: 0%;
    width: 21%;
}

.landing-wrapper .subtitle-wrapper .landing-subtitle {
    position: absolute;

    left: 36%;
}

.landing-wrapper .landing-subtitle * {

     font-weight: bold;
     font-size: 1.5vw;
     white-space: nowrap;
}

.landing-wrapper .landing-bottom {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.landing-wrapper .landing-bottom .picture-right * {
    font-size: 1.5vw;
}

.landing-wrapper .background-image img {
    width: 50vw;
}

/* picture styles */

.picture-wrapper {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50rem;
    left:0px;
}

.picture-wrapper img {
    object-fit: contain;
    width: 100vw;
}

/* About styles */

.about-wrapper {
    background-color: #171b60;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-bottom: 10vh;
    padding-top: 10vh;

}

.about-wrapper * {
    background-color: #171b60;
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
}


.about-left {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-title {
    margin-top: 1vh;
}

.about-content {
    font-size: 1.3rem;
    margin-top: 2vh;
    font-style: bold;
    text-align: center;
    flex-wrap:  wrap-reverse;
    line-height: 125%;
}

.about-title * {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

/* What we do styles */



/* Choose us styles */

.choose_us-wrapper {
    display: flex;
    flex-direction: row;
    padding-top: 20rem;
    column-gap: 20rem;
}

.choose_us-wrapper .choose-section {
    margin-bottom: 15rem;
}

.choose_us-wrapper .choose-section-right {
    margin-bottom: 15rem;
    /* padding-right: 20rem; */
}

.choose_us-wrapper .choose-section-title h1 {
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.choose_us-wrapper .choose-section-subtitle p {
    font-size: 2rem;
}

.choose_us-wrapper .choose-left {
    display: flex;
    flex-direction: column;
    /* padding-left: 20rem; */
}

.choose_us-wrapper .choose-right {
    display: flex;
    flex-direction: column;
}

.choose_us-wrapper .choose-image-section {
    margin-bottom: 10rem;
}

/* Contact Form styles */

.contact-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 10rem;
    background-color: #333333;
    color: white;
    align-items: center;
}

.contact-wrapper .contact-left {
    /* padding-left: 20rem; */
    padding-top: 10rem;
    /* padding-right: 10rem; */
    max-width: 85rem;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.contact-wrapper .contact-left * {
    background-color: #333333;
    font-size: 2rem;
    font-weight: 50;
}

.contact-wrapper .contact-left .contact-content  {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.contact-wrapper .contact-left .contact-content p {
    line-height: 190%;
}

.contact-wrapper .contact-right {
    background-color: #f1f1f1;
    /* margin-right: 20rem; */
}

.contact-wrapper .contact-right * {
    background-color: #f1f1f1;
}

.contact-wrapper .contact-right {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 60rem;
    /* width: 50rem; */
    align-items: center;
}

.contact-wrapper .contact-right .contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 3rem;
    margin-right: 3rem; */
    margin-top: 4rem;
}

.contact-wrapper .contact-right .contact-form-wrapper form input{
    border: transparent;
    background-color: white;
    padding-left: 1.5rem;
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.contact-wrapper .contact-right .contact-form-button button{
    margin-top: 2rem;
    background-color: black;
    height: 6rem;
    color: white;
    font-size: 2rem;
    width: 100%;
}

/* Footer Styles */

.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #313d5a;
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
}

.footer-wrapper * {
    background-color: #313d5a;
    color: white;
    font-weight: lighter;
}

.footer-wrapper .footer-description p {
    font-size: 1.3rem;
    line-height: 150%;
    text-align: center;
    font-weight: normal;
    width: 30vw;
    padding-right: 10vw;
}



.footer-wrapper .footer-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.footer-wrapper .footer-main h1 {
    font-size: 2rem;
}

.footer-wrapper .footer-main h2 {
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 0.75rem;
}

.footer-wrapper .footer-services {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-wrapper .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

/* Copyright styles */

.copyright-wrapper {
    background-color: black;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.copyright-wrapper * {
    background-color: black;
    color: white;
    font-size: 1rem;
}
