#body-content {overflow: hidden;}

/* Global styles */

.home-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: white;
    
    --titleverybig: 3.5rem;
    --subtitleverybig: 2.5rem;

    --titlebig: 3rem;
    --subbig: 2rem;

    --titlemed: 2rem;
    --submed: 1.5rem;

    --titlesmall: 1.5rem;
    --subsmall: 1rem;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


/* Landing styles */

.home-wrapper .title {
    font-size: var(--titleverybig);
    margin-bottom: 3vh;
    text-align: center;
}
.home-wrapper .subtitle {
    font-size: var(--subbig);
    margin-bottom: 3vh;
    text-align: center;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-wrapper {
    overflow: hidden;
    height: 10rem;
}

.landing-wrapper .landing-title {
	display: flex;
	flex-direction: row;
    width: 70vw;
}

.landing-wrapper .landing-title h1 {
padding-left: 10rem;
    font-weight: bold;
    font-size: 2rem;
}

.landing-wrapper .subtitle-wrapper {
	display: grid;
	align-items: center;
	column-width: 0;
	justify-content: center;
    margin-top: 1rem;
}

.landing-wrapper .subtitle-wrapper .subtitle-left-line {
	border: black 2px solid;
	position: absolute;
	left: 0%;
    width: 35%;
}

.landing-wrapper .subtitle-wrapper .subtitle-right-line {
	border: black 2px solid;
	position: absolute;
	right: 0%;
    width: 21%;
}

.landing-wrapper .subtitle-wrapper .landing-subtitle {
    position: absolute;

    left: 36%;
}

.landing-wrapper .landing-subtitle * {

     font-weight: bold;
     font-size: 1.5vw;
     white-space: nowrap;
}

.landing-wrapper .landing-bottom {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.landing-wrapper .landing-bottom .picture-right * {
    font-size: 1.5vw;
}

.landing-wrapper img {
    /* position: absolute; */
    transform: 0; 
    width: 100%;
    height: auto;
    min-width: 600px;
}

/* picture styles */

.picture-wrapper {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50rem;
    left:0px;
}

.picture-wrapper img {
    object-fit: contain;
    width: 100vw;
}

/* About styles */

.content-cards {
    width: 25vw;
    margin: 1rem;
}

.about-top {
    display: flex;
    flex-direction: row;
    padding-bottom: 10vh;
    padding-top: 80vh;
    width: 100vw;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-image: linear-gradient(#ffffff, #c2f6ff);
    align-items: center;
}

.about-top * {
    background-color: transparent;
    color: black;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5vh;
    padding-top: 20vh,
}


.about-left {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 3vh 0vh 5vh 5vh;
    width: 40vw;
    height: max-content;
    margin-left: 10vw;
}

.about-right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.about-right img {
    border-radius: 20px;
    height: 40vh;
    width: 30vw;
}

.about-title {
    margin-top: 1vh;
}

.about-content {
    font-size: var(--submed);
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-style: bold;
    text-align: left;
    flex-wrap:  wrap-reverse;
    line-height: 125%;
}

.about-content p {
    line-height: 4.5vh;
}

.about-title * {
    text-align: left;
    font-weight: bolder;
    font-size: var(--titlebig);
}

/* misc. */

.line {
    width: 60%;
    background-color: transparent;
    border: darkslategrey solid 1px;
}


/* Our Approach styles */

.approach-wrapper {
    background-image: linear-gradient(#c2f6ff, #aaffd0, #ffffff);
}


/* Footer Styles */

/* Copyright styles */

.copyright-wrapper {
    background-color: black;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.copyright-wrapper * {
    background-color: black;
    color: white;
    font-size: 1rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

@media screen and (max-width: 1000px) {
    .home-wrapper .title {
        font-size: var(--titlemed);
    }
    .home-wrapper .subtitle {
        font-size: var(--submed);
    }
}


@media screen and (max-width: 800px) {
    .about-top {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        width: 100vw;
    }

    .cards {
        flex-direction: column;
    }
    
    .content-cards {
        margin: 5vh 5vh 0 0;
        width: 75vw;
    }

    .about-left {
        background-color: transparent;
        display: flex;
        padding: 0;
        margin: 5vw;
        flex-direction: column;
        border-radius: 20px;
        width: 90vw;
        height: max-content;
        margin-bottom: 5vh;
    }

    .about-right {
        width: 100vw;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .about-right img {
        width: 90vw;
        height: auto;
        margin-left: 5vw;
        margin-right: 5vw;
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .about-content {
        font-size: var(--submed);
        margin-top: 2vh;
        font-style: bold;
        text-align: left;
        flex-wrap:  wrap-reverse;
        line-height: 125%;
    }
    
    .about-title * {
        color: black;
        text-align: left;
        font-weight: bolder;
        font-size: var(--titlemed);
    }


}