.bg-custom {
    background-color: rgb(255, 255, 255);
    height: min-content;
}

.bg-custom * {
    background-color:white;
    color: black;
}

.link {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}